html {
  height: 195%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#form {
  background-color: rgb(44, 139, 171);
}

/* Add this to your CSS file or style block */
.field label {
  display: block;
  margin-bottom: 0.5rem;
}

.field label {
  border: 1px solid #000; /* Black border */
  border-radius: 5px; /* Rounded radius edge */
  padding: 0.5rem; /* Add padding for spacing */
}

.field label input.checkbox {
  margin-right: 0.5rem; /* Add margin to create space between checkbox and label text */
}

@media screen and (min-width: 768px) {
  /* Base screens */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
/* Tablets in landscape mode */
}
@media screen and (max-width: 767px) and (orientation: portrait) {
/* Tablets in portrait mode */
}
@media screen and (max-width: 767px) {
/* Smartphones */
}
@media screen and (min-width: 1200px) {
/* Large desktop screens */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
     only screen and (min-resolution: 192dpi) {
/* High-resolution displays */
}
@media (color-gamut: srgb) {
/* Screens with an sRGB color gamut */
}